<html>
<head>
<title>Registration Form</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
<div class="login-page">
<div class="form">
    <h2>SIGNUP</h2>
    <form class="register-form" method="post">
    <input type="text" name="first_name" placeholder="First name" required >
    <input type="text" name="last_name"placeholder="Last name" required >
    <input type="text" name="deg"placeholder="Designation">
    <input type="text" name="int"placeholder="University/College/School name" required>
    <input type="email" name="email"placeholder="Email" required >
    <input type="password"name="pass" placeholder="Password" required >
    <input type="password"name="conf_pass" placeholder="Confirm Password" required >
    <button>CREATE</button>
    <p class="message">Have an account? <br>
        <a href='/login'>Login in</a></p>
    </form>
    </div>
    </div>
</body>
</html>